<app-onesection>
    <div content style="text-align:center;margin-top:40%;margin-bottom:40%;">
        <div class="preloader-wrapper big active" style="width: 8rem; height: 8rem;">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</app-onesection>