<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #6351ce;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
  
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">{{ message }}</h6>
          </div>
  
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <a class="li-ic"href="{{ linkedinUrl }}" target="_blank">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container text-center text-md-left mt-5" *ngIf="authService.getCurrentUser()">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Descripción</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>{{ description }}</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Menú principal</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a [routerLink]="['lines-dashboard']">Mis líneas</a>
          </p>
          <p>
            <a [routerLink]="['consumption']">Consumos</a>
          </p>
          <p>
            <a [routerLink]="['lineservices']">Servicios</a>
          </p>
          <p>
            <a [routerLink]="['invoices']">Facturas</a>
          </p>
          <p>
            <a [routerLink]="['settings']">Ajustes</a>
          </p>
          <p>
            <a [routerLink]="['documentation']">Documentación</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-envelope mr-3"></i>
            {{ email }}
          </p>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
  </footer>